# Agregar los directorios a proteger, separados por una coma
# Intervalo de tiempo entre examenes en segundos
# Guardar la configuracion antes de iniciar el examen
# Los Hash que soportan son: sha3_256, sha3_384, sha3_512 o md5
Selected Hash mode=md5
Directories to protect=C:\Users\Servando\Desktop\Carpeta de Ejemplo
Verify interval=3
email=gigi.dan2011@gmail.com
smtpPass=qwguzqtdjcpxmnhs
toEmail=servandofg12@gmail.com