# Agregar los directorios a proteger, separados por una coma
# Intervalo de tiempo entre examenes en minutos
# Guardar la configuracion antes de iniciar el examen 
# Los Hash que soportan son: sha3_256, sha3_384, sha3_512 o md5
# Para el directorio a proteger debe empezar con 'C:\'
Selected Hash mode=sha3_384
Directories to protect=C:\Users\Servando\Desktop\Carpeta a proteger HIDS
Verify interval=4
